    
    <span><a href="/">Regresar</a></span>
    
    <h1>subir archivos con multer (con storage)</h1>

    <form action="/profile2" method="post" enctype="multipart/form-data">
        <input type="file" name="foto" />
        <input type="text" name="nombre" placeholder="nombre">

        <input type="submit" value="Registrar">
    </form>